.App {
  text-align: center;
}

.mainMap{
  display: flex;
  justify-content: center;
}

.map{
  color: white;
  height: 300px;
  width: 600px;
  border: 1px;
}
.countryInfo{
  /* background-color: green; */
text-align: left;
}
.countryFlag{
  /* background-color: red; */
 text-align: center;
}
.countryFlag img{
  width: 300px;
  height: 200px;
}

.CountryName a{
  color: white;
  padding-left: 20px;
}

